---
title: Grid Utilities
---

<h2>layout-grid</h2>
<ul role="list" class="layout-grid docs--outline-children">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<h2>layout-grid--columns</h2>
<ul role="list" class="layout-grid layout-grid--columns docs--outline-children">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<h2>layout-grid--auto-fit</h2>
<ul role="list" class="layout-grid layout-grid--auto-fit docs--outline-children">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<h2>layout-grid--sidebar</h2>
<div class="layout-grid layout-grid--sidebar docs--outline-children">
  <div>Sidebar content is here</div>
  <article>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor in
  </article>
</div>

<h2>layout-grid--centered</h2>
<div class="layout-grid layout-grid--centered docs-container docs--outline-children">
  <p>Lorem ipsum dolor</p>
</div>

<h2>layout-grid--stack</h2>
<div class="layout-grid layout-grid--stacked">
  <img src="https://source.unsplash.com/L3G68PrXA6Y/800x500" />
  <h3>Another title here</h3>
</div>
