---
title: Dashboard
---

<body class="template-dashboard">
  <header class="background-primary">
    <span>ACME Co</span>
  </header>
  <nav class="background-text">
    <ul role="list">
      <li><a href="">nav 1</a></li>
      <li><a href="">nav 2</a></li>
    </ul>
  </nav>
  <main>
    <h2>Main Content Here</h2>
  </main>
  <footer>
    <p>I am Footer</p>
  </footer>
</body>
