---
title: Holy Grail
---

<body class="template-holy-grail">
  <header class="background-primary">
    <span>ACME Co</span>
  </header>
  <nav class="background-text">
    <ul role="list">
      <li><a href="">nav 1</a></li>
      <li><a href="">nav 2</a></li>
    </ul>
  </nav>
  <main>
    <h2>Main Content Here</h2>
  </main>
  <aside class="background">
    <ul>
      <li><a href="">aside 1</a></li>
      <li><a href="">aside 2</a></li>
      <li><a href="">aside 3</a></li>
      <li><a href="">aside 4</a></li>
    </ul>
  </aside>
  <footer>
    <p>I am Footer</p>
  </footer>
</body>
